{
    "env": {
        "browser": true,
        "es2021": true
    },
    "parser": "babel-eslint",
    "extends": [
        "plugin:react/recommended",
        "airbnb",
        "prettier" 
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "plugins": [
        "react", 
        "prettier"
    ],
    "ignorePatterns": ["reportWebVitals.js", "setupTests.js", "App.test.js"],
    "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/state-in-constructor": "off",
        "prettier/prettier": "error",
        "react/prop-types": 1
    },
    "settings": {
        "import/resolver": {
          "node": {
            "paths": ["src"],
            "extensions": [".js", ".jsx", ".ts", "tsx"]
          }
        }
    }
}